<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/style/styles.css">
    <title>Add Results</title>
</head>
<header>
    <a href="/">Tulemuste sisestamine</a>
    <a href="/allresults">Kõik tulemused</a>
    <a href="/leaderboard">Edetabelid</a>
</header>
<body>
    <h1>Tulemuste sisestamine</h1>
    <form id="athleteForm">
        <div class="sisestus">
            <label for="vanusegrupp">Vanusegrupp:</label>
            <select id="vanusegrupp" name="vanusegrupp" required>
                <option value="" disabled selected>Vali...</option>
                <option value="U12">U12</option>
                <option value="U14">U14</option>
                <option value="U16">U16</option>
                <option value="U18">U18</option>
                <option value="U20">U20</option>
                <option value="U23">U23</option>
                <option value="SEN">SEN</option>
            </select><br><br>

            <label for="ala">Ala:</label>
            <select id="ala" name="ala" required>
                <option value="" disabled selected>Vali...</option>
                <option value="kuul">Kuulitõuge</option>
                <option value="ketas">Kettaheide</option>
                <option value="vasar">Vasaraheide</option>
                <option value="oda">Odavise</option>
                <option value="hüpe">Hüpe</option>
            </select><br><br>
        </div>
        <div class="sportlane">
            <label for="eesnimi">Eesnimi:</label>
            <input type="text" id="eesnimi" name="eesnimi" required><br><br>

            <label for="perenimi">Perekonnanimi:</label>
            <input type="text" id="perenimi" name="perenimi" required><br><br>

            <label for="sugu">Sugu:</label>
            <select id="sugu" name="sugu" required>
                <option value="" disabled selected>Vali...</option>
                <option value="mees">Mees</option>
                <option value="naine">Naine</option>
            </select><br><br>

            <label for="meetrid">Tulemus:</label>
            <input type="number" step="0.01" id="meetrid" name="meetrid" required><br><br>
        </div>
        <button type="button" id="new-athlete">Järgmine sportlane</button><br><br>
        <button type="submit" id="submit">Salvesta</button>
    </form>

    <script src="../public/script.js"></script>
</body>
</html>